/*-----Fonts-----*/
@font-face {
      font-family: Raleway;
      src: url('../../assets/fonts/Raleway-VariableFont_wght.ttf');
    }
@font-face {
      font-family: Playfair Display;
      src: url('../../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf');
    }


/*-----Global Componentns-----*/
.food__containerFluid {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
}

/*-----Welcome Section-----*/
.food__welcomeSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      min-height: calc(100vh - 152px);
      background-image: url('../../assets/food/WaterMark.svg');
      background-size: cover;
      z-index: -100;
}

.food__welcomeSectionImg {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 88%;
      height: 65vh;
      margin-top: 5vh;
}

.food__welcomeSectionText {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/food/WelcomeImg.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
}

.food__welcomeSectionImg > img {
      position: absolute;
      bottom: -4rem;
      left: -3rem;
      z-index: -50;

}

.food__welcomeSectionText > h1 {
      font-size: 6em;
      font-family: 'Playfair Display', serif;
      line-height: 2;
      letter-spacing: 2px;
      color: white;
      margin: 5% 0 0 calc(25% - 10px);
}

.food__welcomeSectionTextH2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 25%;
}

.food__welcomeSectionTextH2 > h2 {
      font-size: 1.2rem;
      letter-spacing: 3px;
      font-weight: bold;
      font-family: 'Raleway', sans-serif;
      color: white;
      margin-left: 1vw;
      line-height: 1.4;
      text-align: center;
}

.food__welcomeSectionDash {
      height: 4px;
      width: 1.5vw;
      align-self: center;
      background-color: #628989;
}

/*-----Quotation section-----*/
.food__quoteSection {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 88%;
      min-height: 20vh;
      margin-bottom: 10vh;
}

.food__quoteSection > img {
      display: flex;
      flex: 0.2;
}

.food__quoteSection > h1 {
      display: flex;
      flex: 0.7;
      flex-direction: column;
      font-size: 3.4rem;
      font-family: 'Playfair Display', serif;
      line-height: 1.4;
      letter-spacing: 2px;
      color: #00001D;
      margin-top: 2vh;
}

.food__quoteSectionTextEdit {
      color: #628989;
      margin-left: auto;
      text-align: center;
}

/*-----Food Items section-----*/
.food__itemsSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 40vh;
      width: 100%;
      background-image: url('../../assets/food/WaterMark.svg');
      background-size: cover;
}

.food__itemsSectionContainer {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 78%;
}

.food__itemsSectionItem {
      display: flex;
      flex: 0.18;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 25vh;

}

.food__itemsSectionItem > img {
      height: 54px;
}

.food__itemsSectionItem > h1 {
      text-align: left;
      font-size: 1.2rem;
      font-family: 'Raleway', sans-serif;
      font-weight: bolder;
      letter-spacing: 2px;
      color: #00001D;
}

.food__itemsSectionItem > p {
      font-family: 'Raleway', sans-serif;
      letter-spacing: 2px;
      line-height: 1.6;
      font-size: 0.8rem;
      color: #7E7B7B;
}


/*-----Media querrys-----*/
/* Only for quoteSection Heading */
@media (max-width: 1380px) {
      /**** QuoteSection text ****/
      .food__quoteSection > h1 {
            flex: 0.76;
            font-size: 3rem;
      }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
      /**** Text in Welcome section ****/
      .food__welcomeSectionText > h1 {
            font-size: 5rem
      }
      .food__welcomeSectionTextH2 > h2 {
            font-size: 1rem
      }

       /**** QuoteSection text ****/
       .food__quoteSection > h1 {
            font-size: 2.5rem;
            margin-top: 0;
            align-self: center;
      }

      /**** Food items section ****/
      .food__itemsSectionItem {
            flex: 0.22;
            align-items: center;
            height: 28vh;
      }
      .food__itemsSectionItem {
            text-align: center;
      }

 }
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
      /**** Text in Welcome section ****/
      .food__welcomeSectionText > h1 {
            font-size: 4rem;
      }
      .food__welcomeSectionTextH2 > h2 {
            font-size: 0.8rem;
      }
      .food__welcomeSectionDash {
            height: 3px;
      }
      /**** Border in Welcome section ****/
      .food__welcomeSectionImg > img {
            bottom: -2rem;
            left: -1.5rem;
      }

      /**** QuoteSection text ****/
      .food__quoteSection > h1 {
            font-size: 2rem;
            text-align: center;
      }
      .food__quoteSectionTextEdit {
            margin-left: 0;
      }

      /**** Food items section ****/
      .food__itemsSectionItem {
            flex: 1 1;
            height: 20vh;
            margin: 3rem 0 3rem 0;
      }
      .food__itemsSectionItem:nth-child(1), .food__itemsSectionItem:nth-child(4) {
            margin-right: 2rem;
      }
      .food__itemsSectionItem:nth-child(2), .food__itemsSectionItem:nth-child(5) {
            margin-left: 2rem;
      }
      .food__itemsSectionContainer {
            flex-wrap: wrap;
      }
      .food__breakRow {
            height: 0;
            flex-basis: 100%;
      }
 }


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
      /**** Text in Welcome section ****/
      .food__welcomeSectionText {
            transform: rotateY(180deg);
      }
      .food__welcomeSectionText > h1 {
            font-size: 3rem;
            margin: 5% 0 0 0;
            transform: rotateY(180deg);
      }
      .food__welcomeSectionTextH2 {
            margin: 0;
            transform: rotateY(180deg);
      }
       /**** Border in Welcome section ****/
       .food__welcomeSectionImg > img {
             display: none;
       }

       /**** QuoteSection text ****/
      .food__quoteSection {
            flex-direction: column;
            justify-content: flex-end;
      }
      .food__quoteSection > h1 {
            flex: 0.2;
      }
      .food__quoteSection > img {
            display: none;
      }

       /**** Food items section ****/
      .food__itemsSectionItem {
            height: 25vh;
      }

      
 }


 /*Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
      /**** Text in Welcome section ****/
      .food__welcomeSectionText > h1 {
            font-size: 1.8rem;
            margin: -40% 0 0 0;
            line-height: 3;
      }
      .food__welcomeSectionTextH2 > h2 {
            font-size: 0.7rem;
      }
      .food__welcomeSectionTextH2 {
           width: 65vw;
      }
      .food__welcomeSectionDash {
            display: none;
      }

      /**** QuoteSection text ****/
      .food__quoteSection > img {
            display: flex;
            align-self: center;
            width: 100%;
            margin-bottom: 5vh;
      }
      .food__quoteSection > h1 {
            font-size: 1.6rem;
      }

      /**** Food items section ****/
      .food__itemsSectionItem {
            flex: auto;
            height: 25vh;
            justify-content: center;
            margin: 3rem 0 3rem 0;
      }
      .food__itemsSectionItem > * {
            margin-bottom: 16px;
      }
      .food__itemsSectionItem:nth-child(1), .food__itemsSectionItem:nth-child(4) {
            margin-right: 0rem;
      }
      .food__itemsSectionItem:nth-child(2), .food__itemsSectionItem:nth-child(5) {
            margin-left: 0rem;
      }
      .food__itemsSectionContainer {
            flex-direction: column;
            height: auto
      }


 }